@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,600,700");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Slab:wght@700&display=swap");
$color: #074582;
$color2: #2e3192;
// $family: "Montserrat", sans-serif;
$family: "Open Sans", sans-serif;
body {
  font-family: "Montserrat", sans-serif;
}

/*=============================================
=            header Area Code            =
=============================================*/
header {
  // border-bottom: 1px solid black;
  padding: 8px;
  img {
    width: 37%;
  }
  .navbar {
    .nav-link {
      color: black;
      font-size: 15px;
      font-weight: 700;
      margin-left: 20px;
      margin-top: 10px;
    }
    .nav-link:focus,
    .nav-link:active {
      color: #d71b1f !important;
    }
  }
}
.about-section {
  padding: 40px 0;
  h3 {
    color: #d71b1f;
    font-weight: bold;
    font-size: 2.23rem;
    padding: 30px 0;
  }
  h3::after {
    content: "";
    width: 100px;
    height: 2px;
    background-color: #d71b1f;
    position: absolute;
    top: 85px;
    color: #d71b1f;
    left: 15px;
  }
  p {
    font-size: 0.8rem;
    line-height: 22px;
  }
}

.footer {
  background-color: #000;
  color: #e6eceb;
  padding: 30px 0 20px 0;
  p {
    margin: 0;
    font-size: 0.9rem;
    padding-bottom: 10px;
  }
  a {
    color: #e6eceb;
    text-decoration: none;
  }
  i {
    font-size: 1.1rem;
    margin-left: 20px;
  }
}

/*=============================================
=            media Query Code            =
=============================================*/

@media only screen and (max-width: 650px) {
  .navbar-toggler {
    position: absolute;
    top: -50px;
    right: 0;
  }
  .about-section {
    h3 {
      font-size: 1.4rem;
    }
    h3::after {
      margin-top: -10px;
    }
  }
}

/* Meida Quries IPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  header {
    img {
      width: 20%;
    }
  }
  .about-section {
    h3 {
      font-size: 1.4rem;
    }
    h3::after {
      margin-top: -10px;
    }
  }
  .navbar-toggler {
    position: absolute;
    top: -50px;
    right: 0;
  }
}

/* Media Quries IPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
}
